
.container
  width: 100%
  +mixGothicCommon()

  h2
    +fontVw(22)
    text-align: center


.main-navi
  width: 100%
  position: fixed
  bottom: 0
  ul
    background-color: red
    font-size: 0
    +perPT(8px)
    +perPB(6px)
    li
      width: 25%
      
      display: inline-block
      text-align: center
      img
        text-align: center
        // +perW(32px)
        width: auto
        margin: 0 auto
        +perMB(18px)
      p
        text-align: center
        +fontVw(10)
        



//初期設定
.scene
  display: none
  opacity: 0