@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
}
a:active, a:focus {
  outline: none;
}

.contents .base-page .page-head {
  width: 100%;
  margin-top: 9.33333%;
  position: relative;
}
.contents .base-page .page-head .prev-arw {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.53333%;
  margin-left: 4%;
  width: 3.73333%;
}
.contents .base-page .page-head h2 {
  text-align: center;
}

.container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Verdana, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.container h2 {
  font-size: 22px;
  font-size: 5.86667vw;
  text-align: center;
}

.main-navi {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.main-navi ul {
  background-color: red;
  font-size: 0;
  padding-top: 2.13333%;
  padding-bottom: 1.6%;
}
.main-navi ul li {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.main-navi ul li img {
  text-align: center;
  width: auto;
  margin: 0 auto;
  margin-bottom: 4.8%;
}
.main-navi ul li p {
  text-align: center;
  font-size: 10px;
  font-size: 2.66667vw;
}

.scene {
  display: none;
  opacity: 0;
}

.home .filter-ui {
  font-size: 0;
}
.home .filter-ui li {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  font-size: 3.2vw;
  background-color: red;
  text-align: center;
  padding-top: 3.73333%;
  padding-bottom: 3.73333%;
}
.home .thum-list {
  padding-left: 5.33333%;
  padding-right: 5.33333%;
  margin-top: 10.66667%;
}
.home .thum-list li {
  margin-bottom: 8%;
}
.home .thum-list li .date {
  text-align: center;
  font-size: 22px;
  font-size: 5.86667vw;
  font-weight: bold;
  margin-bottom: 3.2%;
}
.home .thum-list li .contents-card {
  font-size: 20px;
  font-size: 5.33333vw;
  background-color: #EEEEEE;
  padding-top: 2.66667%;
  padding-bottom: 2.66667%;
}
.home .thum-list li .contents-card .title {
  margin-left: 1.86667%;
  margin-bottom: 2.66667%;
}
.home .thum-list li .contents-card .card-img {
  max-width: 100%;
}
.home .thum-list li .contents-card .card-bottom {
  width: 100%;
  margin-top: 1.33333%;
}
.home .thum-list li .contents-card .card-bottom .wow {
  font-size: 14px;
  font-size: 3.73333vw;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin-left: 2.66667%;
}
.home .thum-list li .contents-card .card-bottom .filter-name {
  width: 75%;
  display: inline-block;
  font-size: 12px;
  font-size: 3.2vw;
  text-align: right;
}

.article {
  width: 100%;
}
.article .article-cont {
  margin-top: 6.66667%;
}
.article .article-cont img {
  max-width: 100%;
}
