
@include keyframes(fadeIn) {
    0% {opacity:0;}
    100% {opacity:1;}
}
@include keyframes(fadeOut) {
    0% {opacity:1;}
    100% {opacity:0;}
}
@include keyframes(scaleIn) {
	0%   { @include transform( scale(0));}
	100% { @include transform( scale(1)); }
}
@include keyframes(scaleOut) {
	0%   { @include transform( scale(1));}
	100% { @include transform( scale(0)); }
}
@include keyframes(scale-back) {
	0%   { @include transform( scale(0));}
	50%   { @include transform( scale(1.15));  }
	70%   { @include transform( scale(0.9));  }
	100% { @include transform( scale(1)); }
}

// ###
// @include keyframes(sample) {
// 	0%   { @include transform(translate(1px, 1px) scale(1) rotate(-1deg));}
//   0%   {background-position: 2px 1px;}
// }
// ###
