//@import "compass/css3/shared";
@import compass/css3/deprecated-support

$animation-support: not -moz, -webkit, not -o, not -ms, not -khtml


$default-animation-name: none !default

$default-animation-duration: 1s !default

$default-animation-function: false !default

$default-animation-delay: false !default

$default-animation-fill-mode: none !default


=animation-name($names: $default-animation-name)
  +experimental(animation-name, unquote($names), $animation-support...)



=animation-duration($duration: $default-animation-duration)
  @if type-of($duration) == string
    $duration: unquote($duration)
  +experimental(animation-duration, $duration, $animation-support...)


=animation-timing-function($function: $default-animation-function)
  +experimental(animation-timing-function, unquote($function), $animation-support...)


=animation-delay($delay: $default-animation-delay)
  @if type-of($delay) == string
    $delay: unquote($delay)
  +experimental(animation-delay, $delay, $animation-support...)



=animation-fill-mode($fill-mode: $default-animation-fill-mode)
  +experimental(animation-fill-mode, unquote($fill-mode), $animation-support...)

=animation-iteration-count($count)
  +experimental(animation-iteration-count, unquote($count), $animation-support...)



=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
  // @-moz-keyframes #{$name} //もう不要
  //   @content

  

// for use //
// #test{
//   @include setAnimation($name: slideX, $easing: $easeOutBack, $time: 1s,$delay: 1s);
// }
// @include keyframes(fadeIn) {
//     0% {opacity:0;}
//     100% {opacity:1;}
// }
//$count: infinite (無限ループ)

=setAnimation($name: fadeIn, $time: 1s, $easing: $easeOutCubic, $delay: 0s, $count: "1", $mode: none)
  +animation-timing-function($easing)
  +animation-duration($time)
  +animation-iteration-count($count)
  +animation-delay($delay)
  +animation-name($name)
  +animation-fill-mode($mode)

//CSSプロパティtween
// for use //
//+propTween(700,$easeInOutQuint, width, 0) //(widthをtween)
//時間単位ミリセカンド(ms)
=propTween($ms, $ease: $linear, $prop: all, $delay: 0)
  -webkit-transition: $prop $ms +  ms $ease $delay + ms
  // -moz-transition: $prop $ms +  ms $ease $delay + ms
  // -ms-transition: $prop $ms +  ms $ease $delay + ms
  // -o-transition: $prop $ms +  ms $ease $delay + ms
  transition: $prop $ms + ms $ease $delay + ms

//時間単位セカンド(s)
=propTween2($time, $ease: $linear, $prop: all, $delay: 0)
  -webkit-transition: $prop $time + s $ease $delay + s
  // -moz-transition: $prop $time + s $ease $delay + s
  // -ms-transition: $prop $time + s $ease $delay + s
  // -o-transition: $prop $time + s $ease $delay + s
  transition: $prop $time + s $ease $delay + s

//個別mixin
=transTime($time)
  -webkit-transition-duration: $time+ s
  transition-duration: $time+ s
=delayTime($delay)
  -webkit-transition-delay: $delay+ s
  transition-delay: $delay+ s
=ease($easing: $easeOutCubic)
  -webkit-transition-timing-function: $easing
  transition-timing-function: $easing

=propTrans($time,$delay:0,$easing: $easeOutSine)
  -webkit-transition-duration: $time+ s
  transition-duration: $time+ s
  -webkit-transition-timing-function: $easing
  transition-timing-function: $easing
  @if ($delay) != 0
    -webkit-transition-delay: $delay+ s
    transition-delay: $delay+ s

//transform
=transform($transforms) 
  -webkit-transform: $transforms
  transform: $transforms

// Rotate
=rotate ($deg)
  +transform(rotate(#{$deg}deg))

// Scale
=scale($scale)
  +transform(scale($scale))
=scaleX($scale)
  +transform(scaleX($scale))
=scaleY($scale)
  +transform(scaleY($scale))

// Translate
=translate ($x, $y)
  +transform(translate($x, $y))
=translate3d ($x, $y, $z)
  +transform(translate3d($x, $y, $z))
// Skew
=skew ($x, $y)
  +transform(skew(#{$x}deg, #{$y}deg))

// Transform Origin
=transform-origin ($origin)
  -webkit-transform-origin: $origin
  transform-origin: $origin

// CSS Transition Easing /
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750)
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000)
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000)
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000)
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000)
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530)
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190)
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220)
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060)
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715)
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035)
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335)
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045)
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940)
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000)
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000)
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000)
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000)
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000)
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000)
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275)
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955)
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000)
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000)
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000)
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950)
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000)
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860)
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550)
