
// Hiragino //
@font-face
  font-family: 'CustomHiragino'
  font-weight: normal
  src: local('Hiragino Sans'),
       local('ヒラギノ角ゴ ProN W3'),
       local('Hiragino Kaku Gothic ProN')

@font-face
  font-family: 'CustomHiragino'
  font-weight: bold
  src: local('Hiragino Sans'),
       local('ヒラギノ角ゴ ProN W6'),
       local('Hiragino Kaku Gothic ProN W6')

@font-face
  font-family: 'CustomHiragino'
  font-weight: 800
  src: local('Hiragino Sans'),
       local('ヒラギノ角ゴ StdN'),
       local('Hiragino Kaku Gothic StdN')

// Yugothic //
@font-face
  font-family: 'CustomYuGothic'
  font-weight: normal
  src: local('游ゴシック Medium'),
       local('YuGothic-Medium'),
       local('Yu Gothic Medium'),
       local('游ゴシック体'),
       local('YuGothic'),
       local('YuGothic-Regular')
@font-face
  font-family: 'CustomYuGothic'
  font-weight: bold
  src: local('游ゴシック Bold'),
       local('YuGothic-Bold'),
       local('Yu Gothic'),
       local('游ゴシック体'),
       local('YuGothic')
