@import "compass/css3"

h1,h2,h3,h4,h5,p,ul
  margin: 0
  padding: 0

li
  list-style: none
img
  display: block
  margin: 0
  padding: 0

//a
//  text-decoration: none
//  &:link, &:visited, &:hover, &:active
//    outline: none
//    text-decoration: none

a
  @include unstyled-link
  cursor: pointer
