
// px指定からパーセントに変換(psdなどのpx幅を%に変換 スマホサイトなど)
@mixin perW($num, $baseWid: 375px)
  width: percentage($num / $baseWid)
@mixin perH($num, $baseWid: 375px)
  height: percentage($num / $baseWid)

@mixin perMT($num, $baseWid: 375px)
  margin-top: percentage($num / $baseWid)
@mixin perMB($num, $baseWid: 375px)
  margin-bottom: percentage($num / $baseWid)
@mixin perML($num, $baseWid: 375px)
  margin-left: percentage($num / $baseWid)
@mixin perMR($num, $baseWid: 375px)
  margin-right: percentage($num / $baseWid)

@mixin perPT($num, $baseWid: 375px)
  padding-top: percentage($num / $baseWid)
@mixin perPB($num, $baseWid: 375px)
  padding-bottom: percentage($num / $baseWid)
@mixin perPL($num, $baseWid: 375px)
  padding-left: percentage($num / $baseWid)
@mixin perPR($num, $baseWid: 375px)
  padding-right: percentage($num / $baseWid)

//top,bottomは値が変わるからperPT,perPBで代用
// @mixin perTop($num, $baseWid: 375px)
//   top: percentage($num / $baseWid)
// @mixin perBottom($num, $baseWid: 375px)
//   bottom: percentage($num / $baseWid)
@mixin perL($num, $baseWid: 375px)
  left: percentage($num / $baseWid)
@mixin perR($num, $baseWid: 375px)
  right: percentage($num / $baseWid)
//

@mixin perPTAbs($wid, $hei)
  padding-top: percentage($hei / $wid)


// +calc( width, '100% - 2px')
@mixin calc($property, $expression)
  #{$property}: -moz-calc(#{$expression})
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})


//画像サイズをパーセント一括設定(compass image-width()使用)

//.html
// <ul class="nav_list">
//   <li class="nav_top"><img class="nav_top-img" src="assets/images/common/nav1.png"></li>
//   <li class="nav_howto"><img class="nav_howto-img" src="assets/images/common/nav2.png"></li>
//   <li class="nav_about"><img class="nav_about-img" src="assets/images/common/nav3.png"></li>
//   <li class="nav_rule"><img class="nav_rule-img" src="assets/images/common/nav4.png"></li>
// </ul>

//////ul>li 連番一括設定/////
//.sass
// .nav_list
//   +ulListImgPer(4,"common/nav",".png")
//1. imgタグ
@mixin ulListImgPer($length, $baseUrl, $type:".png")
  @for $i from 1 through $length
    // @debug ($i)
    // @debug (image-width($baseUrl+$i+$type))
    li:nth-child(#{$i})
      img
        +perW(image-width($baseUrl+$i+$type))
        height: auto

//2. liタグ
@mixin ulListLiPer($length, $baseUrl, $type:".png")
  @for $i from 1 through $length
    // @debug ($i)
    // @debug (image-width($baseUrl+$i+$type))
    li:nth-child(#{$i})
      +perW(image-width($baseUrl+$i+$type))
      height: auto

//////ul>li classリスト一括設定/////
//.sass
// $list: nav_top, nav_howto, nav_about, nav_rule
// .nav_list
//   +ulListTargetImgPer($list,"common/nav",".png")
@mixin ulListTargetImgPer($clslist, $baseUrl, $type:".png")
  @each $target in $clslist
    $i: index($clslist, $target)
    .#{$target}
      img
        +perW(image-width("common/nav"+$i+".png"))
        height: auto


//////imgタグを一括で設定//////
//.sass
// $imgList: "common/nav1.png", "common/nav2.png", "common/nav3.png", "common/nav4.png"
// $clsList: nav_top-img, nav_about-img, nav_howto-img, nav_rule-img
// +allImgPer($clsList,$imgList)
@mixin allImgPer($clsList, $imgList, $sclPer:1)
  @each $target in $clsList
    $i: index($clsList, $target)
    $imgPath: nth($imgList,$i)
    // @debug ($imgPath)
    // @debug (image-width($imgPath))
    .#{$target}
      +perW(image-width($imgPath)*$sclPer)
      height: auto