


.contents
  .base-page

    .page-head
      width: 100%
      +perMT(35px)
      position: relative
      .prev-arw
        position: absolute
        top: 0
        left: 0
        +perMT(2px)
        +perML(15px)
        +perW(14px)
      h2
        text-align: center
