- var img_path = 'assets/images/'
- var css_path = 'assets/css/'
- var js_path = 'assets/js/'
- var site_url = 'http://wolk.jp'
- var og_base_path = "assets/images/common/"
- var img_common = img_path+"common/"
- var rootPath = "./"
- var contentRootPath = "../"

- 
  var pages = {
    top : {
      title : '',
      description : '',
      keywords : '',
      ogUrl: "",
      ogImgName: "",

      cssList: [rootPath+css_path+"index.css"],
      jsList: [rootPath+js_path+"lib/libs.js",rootPath+js_path+"common.js"],
      pageUlr:"/"
    }

  }