extends _include/_layout.pug
block vars
  include _config.pug
  - var pageName = "top"
  - var page = pages[pageName]
  - var img_path = img_path

block contents
  #container.container
    include _include/project/_header.pug

    #entrance.entrance
      .intro.scene
        .splash
          img(src=img_common+"splash_logo.png", alt="")
        .movie
          p movie
      .register.scene
        h2 Register
      .login.scene
        h2 Login
    #contents.contents
      #home.home.base-page.scene
        //- .page-head
        //-   //- img(src=img_common+"prev_arw.png", alt="←")
        //-   h2 HOME
        
        ul.filter-ui
          li
            p Together News
          li
            p Sharing Ride Experience
          li
            p Weekly Reports
          li
            p Genchi-Genbutsu VOICE

        ul.thum-list#homeThumbList
          li
            p.date Jan.25
            .contents-card
              p.title TitleTitleTitleTitle
              img.card-img(src=img_path+"home/dmy_img.jpg")
              .card-bottom
                p.wow 32 Wow!
                p.filter-name Sharing Ride Experience
            li
              p.date Jan.25
              .contents-card
                p.title TitleTitleTitleTitle
                img.card-img(src=img_path+"home/dmy_img.jpg")
                .card-bottom
                  p.wow 32 Wow!
                  p.filter-name Together News

      #article.article.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 Joining Ride Report
        .article-cont
          p.date Jan.25
          h3.title TitleTitleTitleTitle
          img.article-img(src=img_path+"home/dmy_img.jpg")
          h4.head-txt Don’t be a parts maker, be an automaker.
          p.txt texttexttexttext

      #mypage.mypage.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 My Page
      #5c.5c.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 Outline of 5C
      #voice.voice.base-page.scene
        .page-head
          img.prev-arw(src=img_common+"prev_arw.png", alt="←")
          h2 "Genchi-Genbutsu"
      #mainNavi.main-navi
        ul
          li#mn-home
            img(src=img_common+"dmy_icon.png", alt="")
            p HOME
          li#mn-mypage
            img(src=img_common+"dmy_icon.png", alt="")
            p MY PAGE
          li#mn-5c
            img(src=img_common+"dmy_icon.png", alt="")
            p 5C
          li#mn-voice
            img(src=img_common+"dmy_icon.png", alt="")
            p VOICE
    #modal.modal
      .modal-bg
      .moda-win