//@import "compass/css3/shared";
@import "compass/css3/deprecated-support";

$animation-support: not -moz, -webkit, not -o, not -ms, not -khtml;

// CSS Animations
// Including this submodule sets following defaults for the mixins:
//
//     $default-animation-name      : none
//     $default-animation-duration  : 1s
//     $default-animation-function  : false
//     $default-animation-delay     : false
//     $default-animation-fill-mode : false
//
// Override them if you like. Timing-function and delay are set to false for browser defaults (ease, 0s).

$default-animation-name: none !default;

$default-animation-duration: 1s !default;

$default-animation-function: false !default;

$default-animation-delay: false !default;

$default-animation-fill-mode: none !default;

// One or more name to animation
//
// * for multiple, use a comma-delimited list
// * also accepts "all" or "none"

@mixin animation-name($names: $default-animation-name) {
  @include experimental(animation-name, unquote($names), $animation-support...);
}

// One or more durations in seconds
//
// * for multiple, use a comma-delimited list
// * these durations will affect the properties in the same list position

@mixin animation-duration($duration: $default-animation-duration) {
  @if type-of($duration) == string { $duration: unquote($duration); }
  @include experimental(animation-duration, $duration, $animation-support...);
}

// One or more timing functions
//
// * [ ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier(x1, y1, x2, y2)]
// * For multiple, use a comma-delimited list
// * These functions will effect the properties in the same list position

@mixin animation-timing-function($function: $default-animation-function) {
  @include experimental(animation-timing-function, unquote($function), $animation-support...);
}

// One or more animation-delays in seconds
//
// * for multiple, use a comma-delimited list
// * these delays will effect the properties in the same list position

@mixin animation-delay($delay: $default-animation-delay) {
  @if type-of($delay) == string { $delay: unquote($delay); }
  @include experimental(animation-delay, $delay, $animation-support...);
}

// One or more fill mode
//
// * [none | forwards | backwards | both]
// * For multiple, use a comma-delimited list

@mixin animation-fill-mode($fill-mode: $default-animation-fill-mode) {
  @include experimental(animation-fill-mode, unquote($fill-mode), $animation-support...);
}

@mixin animation-iteration-count($count) {
  @include experimental(animation-iteration-count, unquote($count), $animation-support...);
}

// animation all-in-one shorthand

// for use //
// #test{
//   @include setAnimation($name: slideX, $easing: $easeOutBack, $time: 1s,$delay: 1s);
// }
// @include keyframes(fadeIn) {
//     0% {opacity:0;}
//     100% {opacity:1;}
// }
//$count: infinite (無限ループ)

@mixin setAnimation($name: fadeIn, $time: 1s, $delay: 0s, $easing: $ease-in-quad, $count: 1, $mode: none) {
  @include animation-timing-function($easing);
  @include animation-duration($time);
  @include animation-iteration-count($count);
  @include animation-delay($delay);
  @include animation-name($name);
  @include animation-fill-mode($mode);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}



// CSS Transition Easing /
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750)
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000)
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000)
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000)
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000)
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530)
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190)
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220)
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060)
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715)
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035)
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335)
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045)
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940)
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000)
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000)
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000)
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000)
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000)
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000)
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275)
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955)
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000)
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000)
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000)
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950)
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000)
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860)
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550)
