
.home
  .filter-ui
    font-size: 0
    li
      display: inline-block
      width: 50%
      +fontVw(12)
      background-color: red
      text-align: center
      +perPT(14px)
      +perPB(14px)

  .thum-list
    +perPL(20px)
    +perPR(20px)
    +perMT(40px)
    li
      
      +perMB(30px)
      // overflow: hidden
      // width: 100%
      .date
        text-align: center
        +fontVw(22)
        font-weight: bold
        +perMB(12px)
        
      .contents-card
        +fontVw(20)
        background-color: #EEEEEE
        +perPT(10px)
        +perPB(10px)
        .title
          +perML(7px)
          +perMB(10px)
        .card-img
          max-width: 100%
        .card-bottom
          // display: inline-block
          width: 100%
          +perMT(5px)
          
          .wow
            +fontVw(14)
            font-weight: bold
            display: inline-block
            text-align: left
            +perML(10px)
          .filter-name
            width: 75%
            display: inline-block
            +fontVw(12)
            // margin-left: auto
            text-align: right


.article
  width: 100%
  .article-cont
    +perMT(25px)
    img
      max-width: 100%