meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
//- meta(name="format-detection", content="telephone=no")

title #{page.title}

meta(content=page.description, name="description")
meta(content=page.keywords, name="keywords")
//- Facebook
meta(content=page.title, property="og:site_name")
meta(content=page.title, property="og:title")
meta(content=page.description, property="og:description")
meta(content=site_url + "/"+og_base_path + page.ogImgName, property="og:image")
meta(content=site_url + "/"+page.ogUrl, property="og:url")
meta(content="website", property="og:type")
meta(content="ja_JP", property="og:locale")
//- Twitter
meta(content=site_url + og_base_path + page.ogImgName, name="twitter:image")
meta(content=page.description, name="twitter:description")
meta(content=page.title, name="twitter:title")
meta(content="summary_large_image", name="twitter:card")
//- meta(content="summary", name="twitter:card")